In [59]:
import pandas as pd
import numpy as np

from urllib.error import HTTPError

In [146]:
import synth

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(rc={"figure.figsize": (12, 8)})

In [99]:
url = lambda year: f"https://www.electoralcalculus.co.uk/electdata_{year}.txt"

In [103]:
def read_data(year):
    df = pd.read_csv(url(year), sep=";", encoding="ISO-8859-1")
    county_row = df[["Name", "CON"]].groupby("Name").mean().T
    county_row.index = [year]
    
    return county_row

In [106]:
def historical_data():
    df = pd.DataFrame()
    
    for year in range(1955, 2020):
        print(f"Reading data for {year}", end="\r")
        try:
            row = read_data(year)
            df = df.append(row)
            
        except HTTPError:
            continue
            
    return df.sort_index()

In [132]:
df = historical_data()

In [141]:
df_interp = df[df.columns[~df.isnull().iloc[-1]]].interpolate().dropna(axis = 1)

In [151]:
df_interp

,Aberavon,Aberdeen North,Aberdeen South,Aldershot,Antrim North,Antrim South,Ashfield,Ashford,Aylesbury,Ayrshire Central,...,Woking,Wokingham,Wolverhampton North East,Wolverhampton South West,Worcester,Workington,"Wrekin, The",Wrexham,Wycombe,Yeovil
1955,12706,16357,26817,22701,41763,50347,12836,23992,20330,19713.00,...,27860,25843,14387,25318,25610,17182,19019,16286,29845,24059
1959,12759,15137,25471,25161,42807,52786,14690,25383,22504,20225.00,...,33521,30896,16639,25696,27024,16894,22030,17144,30774,23771
1964,9424,14366,25824,25797,40372,47325,12989,21026,23856,18523.00,...,31170,32777,14914,21736,24345,15565,21765,17240,30877,21919
1966,9369,8768,21492,25672,31927,40840,11991,21362,23673,17637.00,...,32057,34011,12965,21466,25398,14475,22846,12596,31577,22664
1970,10419,9807,23843,33447,21451,59589,15089,26649,31084,19569.00,...,37220,43183,15358,26220,29717,15532,26282,15649,40151,27689
1979,12692,7657,20820,38014,15398,50782,25319,26224,33953,15734.00,...,31719,36194,17986,26587,30194,18767,32672,18256,38171,31321
1983,6605,7426,15393,31288,10749,17727,15772,27230,30230,14036.25,...,32748,32925,17727,25214,24381,16111,22710,15696,27221,23202
1987,5861,6330,14719,35272,0,25395,18412,29978,32970,12338.50,...,35990,39808,19857,26235,25504,17000,26225,17992,28209,23141
1997,2835,5763,11621,23119,10921,23108,10251,22899,25426,10640.75,...,19553,25086,11547,19539,18423,12061,18218,8688,20890,14946
2010,4411,4666,8914,21203,4634,10353,10698,29878,27736,8943.00,...,26551,28754,11964,16344,19358,13290,21922,8375,23423,18807
2015,3742,5304,11087,23369,5054,11942,10628,30094,28083,8803.00,...,29199,32329,10174,16573,22534,11596,22579,10350,26444,24178
2017,5901,8341,18746,26955,3482,13300,20844,35318,32313,15504.00,...,29903,33806,14695,18714,24731,17392,27451,15321,26766,32369
2019,6518,7535,16398,27980,8139,12460,19231,37270,32737,16182.00,...,26396,30734,17722,19864,25856,20488,31029,15199,24766,34588